// http://getbootstrap.com/docs/4.0/getting-started/theming/#variable-defaults

$body-bg: #fafafa;
$white: #FFFFFF;
$comet: #545871;
$vista-white: #F7ECEB;
$manatee: #9597A6;
$whisper: #F0F1F7;
$oyster-pink: #EBD0CE;
$mischka: #DADBE6;
$ebb: #E6DBDA;
