{% extends "resources/views/_layouts/layout.html" %}
{% set title = "Homepage" %}

{% block content %}

<section class="photo">
  <div class="container content">

    <div class="left">

      {% include "resources/views/_includes/logo.html" %}

      <h5>Ozzie in Brooklyn</h5>
    </div>

    <div class="right">
      <ul class="nav">
        <li> <a href="#">About us</a> </li>
        <li> <a href="#">Reviews</a> </li>
        <li> <a href="#">Services</a> </li>
        <li> <a href="#">Sign up</a> </li>
      </ul>
      <p>
        We care for </br>
        your furry little </br>
        loved ones</br> while </br>
        you’re away
      </p>
      <button class="btn btn-primary" type="button" name="button">Sign up</button>
    </div>
  </div>
</section>

<section class="white">
  <div class="container content">
    <div class="left">
      <h3>
        Expert care for your furry, feathery, or scaley friend
      </h3>
      <p>
        We know how stressful it is to leave your pets at home alone.
        We’re a team of experienced animal caregivers, well connected to local veterinarians.
        Trust to us to love them like our own, and to keep them safe and happy till you’re home.
      </p>
      <button class="btn btn-secondary" type="button" name="button">Sign up</button>
    </div>
    <div class="right">
      <img src="assets/img/animals.png" alt="Animals">
    </div>
  </div>
</section>

<section class="services">
  <div class="photo">
    <p>Ollie and Maggie</p>
  </div>
  <div class="text">
    <h3>
      Services tailored </br> to your needs
    </h3>
    <p>
      Schedule one-off or recurring home visits.
      An experienced member of our team will spend time with your pet,
      feed them, change cat litter trays, take the dog for a walk, and anything else you need.
    </p>
    <button class="btn btn-secondary" type="button" name="button">Sign up</button>
  </div>
</section>

<section class="blue">
  <div class="container content">
    <h3>
      Pets and their humans love us
    </h3>
    <div class="wrapper">

      <div class="white-box">
        <div class="top">
          <img src="assets/img/symbols/ginger.png" alt="Dog">
          <div class="name">
            <h5>10.12.2017</h5>
            <h4>Ginger Fisher</h4>
          </div>
        </div>
        <div class="bottom">
          <div class="info-box">
            <div class="circle">
              <img src="assets/img/symbols/female.png" alt="Symbol">
            </div>
            <p>female</p>
          </div>
          <div class="info-box">
            <h4>8</h4>
            <p>years old</p>
          </div>
          <div class="info-box">
            <div class="circle">
              <img src="assets/img/symbols/check.png" alt="Symbol">
            </div>
            <p>spayed</p>
          </div>
          <div class="info-box">
            <h4>50-100</h4>
            <p>pounds</p>
          </div>
        </div>
      </div>

      <div class="white-box">
        <div class="top">
          <img src="assets/img/symbols/ginger.png" alt="Dog">
          <div class="name">
            <h5>10.12.2017</h5>
            <h4>Ginger Fisher</h4>
          </div>
        </div>
        <div class="bottom">
          <div class="info-box">
            <div class="circle">
              <img src="assets/img/symbols/female.png" alt="Symbol">
            </div>
            <p>female</p>
          </div>
          <div class="info-box">
            <h4>8</h4>
            <p>years old</p>
          </div>
          <div class="info-box">
            <div class="circle">
              <img src="assets/img/symbols/check.png" alt="Symbol">
            </div>
            <p>spayed</p>
          </div>
          <div class="info-box">
            <h4>50-100</h4>
            <p>pounds</p>
          </div>
        </div>
      </div>

      <div class="white-box">
        <div class="top">
          <img src="assets/img/symbols/ginger.png" alt="Dog">
          <div class="name">
            <h5>10.12.2017</h5>
            <h4>Ginger Fisher</h4>
          </div>
        </div>
        <div class="bottom">
          <div class="info-box">
            <div class="circle">
              <img src="assets/img/symbols/female.png" alt="Symbol">
            </div>
            <p>female</p>
          </div>
          <div class="info-box">
            <h4>8</h4>
            <p>years old</p>
          </div>
          <div class="info-box">
            <div class="circle">
              <img src="assets/img/symbols/check.png" alt="Symbol">
            </div>
            <p>spayed</p>
          </div>
          <div class="info-box">
            <h4>50-100</h4>
            <p>pounds</p>
          </div>
        </div>
      </div>

      <div class="white-box">
        <div class="top">
          <img src="assets/img/symbols/ginger.png" alt="Dog">
          <div class="name">
            <h5>10.12.2017</h5>
            <h4>Ginger Fisher</h4>
          </div>
        </div>
        <div class="bottom">
          <div class="info-box">
            <div class="circle">
              <img src="assets/img/symbols/female.png" alt="Symbol">
            </div>
            <p>female</p>
          </div>
          <div class="info-box">
            <h4>8</h4>
            <p>years old</p>
          </div>
          <div class="info-box">
            <div class="circle">
              <img src="assets/img/symbols/check.png" alt="Symbol">
            </div>
            <p>spayed</p>
          </div>
          <div class="info-box">
            <h4>50-100</h4>
            <p>pounds</p>
          </div>
        </div>
      </div>

      <button class="btn btn-light"  type="button" name="button">Sign up</button>

    </div>
  </div>
</section>

<section class="white">
  <div class="container options">
    <h3>
      Affordable options, </br>
      tailored to your needs
    </h3>
    <p>
      All services include live updates including photos and chat, </br>
      as well as notifications of sitter arrival and departure times.
    </p>

    <div class="wrapper">
      <div class="box">
        <div class="top">
          <h2>
            Dog walk
          </h2>
          <p>
            We’ll take your pup for a 30 minute
            walk and make sure he or she has fresh food and water.
          </p>
        </div>
        <div class="bottom">
          <h1>
            $15
          </h1>
          <h5>
            PER 30 MIN WALK
          </h5>
        </div>
        <div class="circle">
          <img src="assets/img/symbols/flower.png" alt="Icon">
        </div>
      </div>

      <div class="box">
        <div class="top">
          <h2>
            Drop-in visit
          </h2>
          <p>
            We’ll stop by to snuggle, feed, and
            play with your pets in the comfort of their own home.
          </p>
        </div>
        <div class="bottom">
          <h1>
            $15
          </h1>
          <h5>
            PER 30 MIN VISIT
          </h5>
        </div>
        <div class="circle">
          <img src="assets/img/symbols/hand.png" alt="Icon">
        </div>
      </div>

      <div class="box">
        <div class="top">
          <h2>
            House sitting
          </h2>
          <p>
            We’ll stay overnight with your
            pets to make sure they have round-the-clock love.
          </p>
        </div>
        <div class="bottom">
          <h1>
            $45
          </h1>
          <h5>
            PER NIGHT
          </h5>
        </div>
        <div class="circle">
          <img src="assets/img/symbols/house.png" alt="Icon">
        </div>
      </div>
    </div>

    <button class="btn btn-secondary" type="button" name="button">Sign up</button>
  </div>
</section>


{% endblock %}
